.fa-arrow-right, .fa-arrow-left{
    margin-top: 50vh;
    font-size: 58px;
    color: #A66F00;
}

.fa-arrow-left{
    margin-left: 50px;
}

.bi-caret-right-fill{
    margin-right: 50px;
}

.disabled{
    pointer-events: none;
    opacity: 0.2;
    cursor: pointer;
}

.btn-red-more{
    height: 48px;
    width: 200px;
    border: none;
    border-radius: 15px;
    background-color: #F4623A;
    color: white;
    font-weight: 600;
    font-size: 20px;
}